.add {
  width: $mobile-width;
  margin: 0 auto;
  padding: 30px $mobile-padding 46px;
}

.add__title {
  margin: 0;
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  font-family: $default-font;
  text-align: center;
  color: $big-text-color;
  text-transform: uppercase;
  white-space: pre-line;
}

.add__line {
  margin: 0;
  margin-bottom: 23px;

  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.add__sizes-list {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0;
  padding-bottom: 31px;

  list-style: none;
}

.add__size {
  display: block;
  width: 82px;
  padding-top: 16px;
  padding-bottom: 16px;

  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  border: 2px solid rgba($charcoal, $gauze);

  &:focus,
  &:hover {
    border-color: rgba($charcoal, $tulle);
  }

  &:active {
    border-color: $dull-turquoise;
  }
}

.add__sizes-button input:checked ~ .add__size {
  border: 2px solid $fade-turquoise;
}

.add__submit {
  margin: 0 auto;

  // @include button($fade-turquoise, #ffffff, $fade-turquoise);
  //
  // &:hover {
  //   margin-top: -5px;
  //   padding-bottom: 19px;
  // }
  //
  // &:active {
  //   color: change-color(white, $alpha: $tulle);
  //   background-color: $teal;
  // }
  display: block;
  width: 100%;
  padding: 14px;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background: $fade-turquoise;
  border: 2px solid $fade-turquoise;
  cursor: pointer;

  &:focus,
  &:hover {
    color: $fade-turquoise;
    border-color: $fade-turquoise;
    background-color: #ffffff;
    outline: none;
  }

  &:active {
    color: rgba($fade-turquoise, $tulle);

    // background-color: $border-color;
  }
}

@media (min-width: $tablet-width) {
  .add {
    width: auto;
    padding: 32px $tablet-padding 46px;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  }

  .add__title {
    font-size: 30px;
    line-height: 57px;
    white-space: normal;
  }

  .add__line {
    font-size: 17px;
  }

  .add__sizes-list {
    width: 350px;
  }

  .add__size {
    width: 112px;
  }

  .add__submit {
    width: 350px;
  }
}
