.add {
  padding: 30px $mobile-padding 46px;
  margin: 0 auto;
  width: $mobile-width;
}

.add__title {
  text-align: center;
  text-transform: uppercase;
  white-space: pre-line;
  margin: 0;
  margin-bottom: 12px;
}

.add__line {
  margin: 0;
  margin-bottom: 23px;

  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.add__sizes-list {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0;
  padding-bottom: 31px;

  list-style: none;
}

.add__size {
  display: block;
  width: 82px;
  padding-top: 16px;
  padding-bottom: 16px;

  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;

  border: 2px solid rgba($charcoal, $gauze);

  &:focus,
  &:hover {
    border-color: rgba($charcoal, $tulle);
  }

  &:active {
    border-color: $dull-turquoise;
  }
}

.add__sizes-button input:checked ~ .add__size {
  border: 2px solid $fade-turquoise;
}

.add__submit {
  @include button($fade-turquoise, #ffffff, $fade-turquoise);
  margin: 0 auto;

  &:hover {
    margin-top: -5px;
    padding-bottom: 19px;

    // color: rgba(white, $chiffon);
  }

  &:active {
    // color: change-color(white, $alpha: $tulle);
    // background-color: $teal;
  }
}

@media (min-width: $tablet-width) {
  .add {
    padding: 32px $tablet-padding 46px;
    width: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  }

  .add__title {
    font-size: 30px;
    line-height: 57px;
    white-space: normal;
  }

  .add__line {
    font-size: 17px;
  }

  .add__sizes-list {
    width: 350px;
  }

  .add__size {
    width: 112px;
  }

  .add__submit {
    width: 350px;
  }
}
