.advantages {
  padding: 30px $mobile-padding;
}

.advantages__list {
  @include no-list();
}

.advantages__item {
  position: relative;

  padding-top: 60px;

  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  font-family: $default-font;
  color: $big-text-color;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-repeat: no-repeat;
  }

  &--eco::before {
    background-image: url("../img/icon-feature-flower.svg");
    background-position: left center;
  }

  &--ikea::before {
    background-image: url("../img/icon-feature-money.svg");
    background-position: left center;
  }

  &--likes::before {
    background-image: url("../img/icon-feature-heart.svg");
    background-position: left center;
  }

  &--knit::before {
    background-image: url("../img/icon-feature-ball.svg");
    background-position: left center;
  }

  &--gagarin::before {
    background-image: url("../img/icon-feature-rocket.svg");
    background-position: left center;
  }

  &--gift::before {
    background-image: url("../img/icon-feature-gift.svg");
    background-position: left center;
  }
}
