.advantages {
  padding: 28px $mobile-padding 55px;
}

.advantages__title {
  margin: 0 0 5px -2px;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  position: relative;

  padding-top: 83px;
  padding-right: 10px;

  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  font-family: $default-font;
  color: $big-text-color;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;

    width: 60px;
    height: 60px;

    background-repeat: no-repeat;
  }

  &--eco::before {
    background-image: url("../img/icon-feature-flower.svg");
    background-position: left center;
  }

  &--ikea::before {
    background-image: url("../img/icon-feature-money.svg");
    background-position: left center;
  }

  &--likes::before {
    background-image: url("../img/icon-feature-heart.svg");
    background-position: left center;
  }

  &--knit::before {
    background-image: url("../img/icon-feature-ball.svg");
    background-position: left center;
  }

  &--gagarin::before {
    background-image: url("../img/icon-feature-rocket.svg");
    background-position: left center;
  }

  &--gift::before {
    background-image: url("../img/icon-feature-gift.svg");
    background-position: left center;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding: 53px $tablet-padding 80px;
  }

  .advantages__title {
    margin-bottom: 20px;
    margin-left: -4px;
  }

  .advantages__list {
    // margin: 0 $tablet-padding;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: -30px;
  }

  .advantages__item {
    width: $tablet-column;
    padding-top: 112px;

    font-size: 20px;
    line-height: 22px;

    &::before {
      top: 45px;
    }

    &--eco {
      order: 1;
    }

    &--ikea {
      order: 3;
    }

    &--likes {
      order: 5;
    }

    &--knit {
      order: 2;
    }

    &--gagarin {
      order: 4;
    }

    &--gift {
      order: 6;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding: 60px 0 90px;
  }

  .advantages__title {
    margin: 0 50px 0 46px;
    padding-left: $desktop-padding;

    font-size: 53px;
    line-height: 57px;
  }

  .advantages__list {
    margin: -10px 50px 0;
    padding-left: $desktop-padding;
  }

  .advantages__item {
    width: $desktop-column;
    padding-top: 111px;
  }
}
