.assortment {
  margin: 0 auto;
  // margin-bottom: 30px;

  background-color: $light-blanc;
}

.assortment__banner {
  min-height: 283px;
  padding-top: 71px;

  background: url("../img/hero-mobile@1x.jpg") center -18px no-repeat;
  background-size: 575px auto;
}

.assortment__title {
  margin: 0 auto;

  text-align: center;

  background-color: transparent;
}

.assortment__list {
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.assortment__link {
  display: block;
  position: relative;
  min-height: 103px;

  color: rgba(#ffffff, $chiffon);

  &:hover {
    margin-top: -5px;
    padding-bottom: 5px;

    color: #ffffff;
  }

  &:active {
    color: change-color(#ffffff, $alpha: $tulle);
  }

  &::after {
    content: "";
    position: absolute;
    width: 65px;
    height: 65px;
    top: 20px;
    left: calc(50% + 70px);
    background: center center no-repeat;
    opacity: $chiffon;
  }

  &:hover::after {
    opacity: $muslin;
  }

  &:active::after {
    opacity: $tulle;
  }

  &--decor {
    background-color: $fade-turquoise;

    &:hover {
      background-color: $turquoise;
    }

    &:active {
      background-color: $turquoise;
    }

    &::after {
      background-image: url("../img/icon-interior.svg");
    }
  }

  &--toys {
    background-color: $fade-teal;

    &:hover {
      background-color: $teal;
    }

    &:active {
      background-color: $teal;
    }

    &::after {
      background-image: url("../img/icon-toy.svg");
    }
  }
}


.assortment__category {
  display: block;
  width: $mobile-width;
  margin: 0 auto;
  padding: 25px 112px 30px $mobile-padding;

  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  font-family: $default-font;
}

@media (max-width: $mobile-only-width) {
  .assortment__title {
    font-size: 27px;
    white-space: pre-line;
  }
}

@media (min-width: $tablet-width) {
  .assortment {
    margin-bottom: 34px;
  }

  .assortment__title {
    max-width: 668px;
  }

  .assortment__banner {
    min-height: 569px;
    padding-top: 97px;

    background: url("../img/hero-tablet@1x.jpg") center -58px no-repeat;
    background-size: 1150px auto;
  }

  .assortment__list {
    display: flex;
    width: $tablet-width;
    padding: 0 $tablet-padding;
  }

  .assortment__item {
    flex-grow: 1;
  }

  .assortment__link {
    &::after {
      top: 30px;
      left: auto;
      right: 30px;
    }
  }

  .assortment__category {
    margin: 0;
    padding: 29px 112px 30px 36px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .assortment {
    margin-bottom: 55px;
  }

  .assortment__banner {
    min-height: 567px;
    padding-top: 94px;

    background-position: center -60px;
  }

  .assortment__list {
    width: $desktop-width;
    padding: 0 50px;
  }
}
