.assortment {
  margin: 0 auto;
  // margin-bottom: 30px;

  background-color: $light-blanc;
}

.assortment__banner {
  min-height: 283px;
  padding-top: 71px;

  background: url("../img/hero-mobile@1x.jpg") center -18px no-repeat;
  background-size: 575px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.assortment__title {
  // margin: 0 auto;
  background-color: transparent;
}

.assortment__list {
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.assortment__link {
  position: relative;

  display: block;
  min-height: 103px;

  color: #ffffff;

  &:hover {
    margin-top: -5px;
    padding-bottom: 5px;
  }

  &:active {
    color: change-color(#ffffff, $alpha: $tulle);
  }

  &--decor {
    background-color: $fade-turquoise;

    &:hover {
      background-color: $turquoise;
    }

    &:active {
      background-color: $turquoise;
    }
  }

  &--toys {
    background-color: $fade-teal;

    &:hover {
      background-color: $teal;
    }

    &:active {
      background-color: $teal;
    }
  }
}

.assortment__icon {
  position: absolute;
  fill: $jade;
  opacity: $chiffon;

  &:hover {
    opacity: $muslin;
  }

  &:active {
    opacity: $tulle;
  }

  &--decor {
    top: 22px;
    left: calc(50% + 84px);

    width: 40px;
    height: 62px;
  }

  &--toys {
    top: 21px;
    left: calc(50% + 73px);

    width: 60px;
    height: 60px;
  }
}

.assortment__category {
  display: block;
  width: $mobile-width;
  margin: 0 auto;
  padding: 25px 112px 30px $mobile-padding;

  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  font-family: $default-font;
}

@media (max-width: $mobile-width-only) {
  .assortment__title {
    margin-left: -2px;

    font-size: 27px;
    white-space: pre-line;
  }
}

@media (min-width: $tablet-width) {
  .assortment {
    margin-bottom: 34px;
  }

  .assortment__title {
    max-width: 668px;
    margin: 0 auto;
  }

  .assortment__banner {
    min-height: 569px;
    padding-top: 97px;

    background: url("../img/hero-tablet@1x.jpg") center -58px no-repeat;
    background-size: 1150px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .assortment__list {
    display: flex;
    width: $tablet-width;
    padding: 0 $tablet-padding;
  }

  .assortment__item {
    flex-grow: 1;
  }

  .assortment__icon {
    left: auto;

    &--decor {
      top: 30px;
      right: 36px;
    }

    &--toys {
      top: 32px;
      right: 34px;
    }
  }

  .assortment__category {
    margin: 0;
    padding: 29px 112px 30px 36px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .assortment {
    margin-bottom: 52px;
  }

  .assortment__banner {
    min-height: 567px;
    padding-top: 94px;
    background: url("../img/hero-desktop@1x.jpg") center -60px no-repeat;
    background-size: $desktop-width auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .assortment__list {
    width: $desktop-width;
    padding: 0 50px;
  }
}
