.copyright {
  display: flex;
  justify-content: center;
  // align-items: center;
}

.copyright__text {
  margin: -5px 30px 0 0;

  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: $big-text-color;
}

.copyright__link {
  display: flex;
  align-items: center;

  &:active {
    opacity: $tulle;
  }
}

.copyright__logo-image > path {
  fill: $fade-turquoise;
}

.copyright__link:hover .copyright__logo-image > path {
  fill: $teal;
}

@media (min-width: $tablet-width) {
  .copyright__link {
    margin-top: -3px;
  }
}
