.logo {
  display: block;
  align-self: center;

  &--header {
    margin: 22px 20px 16px 18px;
  }

  &--footer {
    display: none;
  }

  &:hover {
    opacity: $batiste;
  }

  &:active {
    opacity: $tulle;
  }
}

.logo-image {
  width: 86px;
  height: 35px;
}

@media (min-width: $tablet-width) {
  .logo {
    &--header {
      margin: 0;
      margin-top: 22px;
      margin-bottom: 14px;
      order: 1;
      align-self: flex-start;
    }

    &--footer {
      display: block;
      margin-right: auto;
      // align-self: auto;
      align-self: flex-start;
      width: 33.3333%;
    }
  }

  .logo--footer .logo-image {
    width: 102px;
    height: auto;
    display: block;
  }

  .logo--header .logo-image {
    width: 112px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .logo--header {
    order: 2;
    margin-top: 8px;
    margin-bottom: 0;
    margin-left: 42px;
  }

  .logo--header .logo-image {
    width: 148px;
    height: 73px;
  }
}
