.main-nav {
  position: relative;

  display: flex;
  flex-direction: column;
  // ++
  // padding: 0;
}

.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: calc(50% - 130px);
  z-index: 1;

  width: 21px;
  height: 20px;

  padding: 0;
  //  крестик

  background: #ffffff url("../img/icon-menu-close.svg") center no-repeat;
  border: none;

  &:active,
  &:focus {
    outline: none;
  }
}

.main-nav__menu {
  display: block;
  margin: 0;
  padding: 0;
}

.main-nav__menu--offers {
  display: none;
}

.main-nav__item {
  display: block;
  margin: 0;
  padding: 0;

  border-top: 1px solid $light-pearl;
}

.main-nav__link {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding: 26px 30px 28px 75px;

  font-weight: bold;
  font-size: 17px;
  color: $big-text-color;

  &:hover,
  &:focus {
    color: rgba(#000000, $batiste);
  }

  &:active {
    opacity: $tulle;
  }

  &--search,
  &--cart {
    padding-left: 30px;
  }
}

.main-nav__icon {
  display: inline-block;
  width: 21px;
  margin-right: 20px;

  vertical-align: middle;
  opacity: 0.2;
  // fill: #231f20;
  fill: black;
}

.main-nav__link:hover .main-nav__icon {
  opacity: 1;

  fill: $fade-turquoise;
}

.main-nav__line--delivery {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__toggle {
    width: 20px;
    height: 14px;
    right: calc(50% - 128px);
    // гамбургер
    background-image: url("../img/icon-menu-open.svg");
  }

  .main-nav--closed .main-nav__menu {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
  }

  .main-nav__menu--offers {
    display: none;
  }

  .main-nav__menu--user {
    order: 2;
  }

  .main-nav__link {
    width: auto;
    margin: 0;
    padding: 0;
    line-height: 24px;
  }

  .main-nav__item {
    border-top: none;
  }

  .main-nav__menu--user .main-nav__link {
    border-left: 1px solid $light-pearl;
  }

  .main-nav__link--search {
    padding: 32px 30px 32px;
  }

  .main-nav__link--search .main-nav__link-text {
    display: none;
  }

  .main-nav__link--cart {
    padding: 31px 0 33px 33px;
  }

  .main-nav__icon {
    margin: 0;

    &--cart {
      margin-right: 25px;
    }
  }

  .main-nav__menu--site {
    order: 3;
    max-width: calc(100% - 266px);
  }

  .main-nav__menu--site .main-nav__item {
    margin-right: 36px;
  }

  .main-nav__menu--site .main-nav__item:last-child {
    margin-right: 0;
  }

  .main-nav__menu--site .main-nav__link {
    padding-top: 18px;
    padding-bottom: 16px;
    font-size: 15px;
  }

  .main-nav__line--delivery {
    display: block;
    order: 4;
    color: inherit;
    max-width: 246px;
    align-self: flex-start;
    margin-top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    // width: $desktop-width;
    // margin: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .main-nav__menu--site {
    order: 1;
    margin-left: -32px;
    max-width: 462px;
  }

  .main-nav__menu--site .main-nav__link {
    font-size: 17px;

    // width: auto;
    padding: 32px 36px 32px 32px;
  }

  .main-nav__menu--site .main-nav__item {
    border-right: 1px solid $light-pearl;
    margin-right: 0;
  }

  .main-nav__menu--site .main-nav__item:last-child {
    border-right: none;
  }

  // .main-nav__menu--site .main-nav__item:first-child > .main-nav__link {
  //   padding-left: 0;
  // }

  .main-nav__menu--user {
    order: 3;
    margin-left: auto;
  }

  .main-nav__menu--offers {
    display: flex;
    order: 4;
    max-width: calc(100% - 266px);
    margin-left: -32px;
  }

  .main-nav__menu--offers .main-nav__link {
    padding: 18px 32px;

    font-size: 15px;
  }

  // .main-nav__menu--offers .main-nav__item:first-child > .main-nav__link {
  //   padding-left: 0;
  // }

  .main-nav__line--delivery {
    order: 5;
    margin-left: auto;
  }
}
