.main-nav {
  position: relative;

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: calc(50% - 130px);
  z-index: 1;

  width: 21px;
  height: 20px;
  //  крестик

  background: #ffffff url("../img/icon-menu-close.svg") center no-repeat;
  border: none;

  &:active,
  &:focus {
    outline: none;
  }
}

.main-nav__menu {
  display: block;
  margin: 0;
  padding: 0;
}

.main-nav__menu--offers {
  display: none;
}

.main-nav__item {
  display: block;
  margin: 0;
  padding: 0;

  border-top: 1px solid $light-pearl;
}

.main-nav__link {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding: 26px 30px 28px 75px;

  font-weight: bold;
  font-size: 17px;
  color: $big-text-color;

  &:hover,
  &:focus {
    color: rgba(#000000, $batiste);
  }

  &:active {
    opacity: $tulle;
  }

  &--search,
  &--cart {
    padding-left: 30px;
  }
}

.main-nav__link svg {
  display: inline-block;
  width: 21px;
  margin-right: 20px;

  vertical-align: middle;
}

.main-nav__link svg > path {
  opacity: 0.2;
}

.main-nav__link:hover svg > path {
  opacity: 1;

  fill: $fade-turquoise;
}

.main-nav__line--delivery {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__toggle {
    // гамбургер
    background-image: url("../img/icon-menu-open.svg");
  }

  .main-nav--closed .main-nav__menu {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    width: $tablet-width;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }

  .main-nav__menu--user {
    align-items: stretch;
    order: 2;
  }

  .main-nav__menu--site {
    order: 3;
  }

  .main-nav__link {
    padding: 0;
  }

  .main-nav__menu--user .main-nav__link {
    padding: 32px 0 32px 80px;

    background-position: 30px 35px;
    border-left: 1px solid $light-pearl;
  }

  .main-nav__link--search {
    height: 88px;
  }

  .main-nav__link--search .main-nav__link-text {
    display: none;
  }

  .main-nav__menu--site .main-nav__link {
    width: 167px;
    padding: 16px 0;

    font-size: 15px;
  }

  .main-nav__line--delivery {
    display: block;
    order: 4;
    // vertical-align: middle;

    color: inherit;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: $desktop-width;
    margin: 0 auto;
  }

  .main-nav__menu--site {
    order: 1;
  }

  .main-nav__menu--site .main-nav__link {
    width: auto;
    padding: 32px 36px 32px 32px;

    font-size: 17px;
  }

  .main-nav__menu--site .main-nav__item {
    border-right: 1px solid $light-pearl;
  }

  .main-nav__menu--site .main-nav__item:last-child {
    border-right: none;
  }

  .main-nav__menu--site .main-nav__item:first-child > .main-nav__link {
    padding-left: 0;
  }

  .main-nav__menu--user {
    order: 3;
  }

  .main-nav__menu--offers {
    display: flex;
    order: 4;
  }

  .main-nav__menu--offers .main-nav__link {
    padding: 18px 32px;

    font-size: 15px;
  }

  .main-nav__menu--offers .main-nav__item:first-child > .main-nav__link {
    padding-left: 0;
  }

  .main-nav__line--delivery {
    order: 5;
  }
}
