.map {
  min-width: $mobile-width;
}

.map__wrapper {
  position: relative;

  height: 457px;
  margin: 0 auto;
}

.map__iframe {
  width: 100%;
  height: 100%;

  border: none;
}

.map__img {
  position: absolute;
  top: 0;
  left: calc(50% - 160px);

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 145px;
  //   left: 140px;
  //
  //   width: 66px;
  //   height: 100px;
  //
  //   background-image: url("../img/icon-map-pin.svg");
  // }
}

@media (min-width: $desktop-width) {
  .map {
    min-width: $desktop-column;
  }

  .map__img {
    left: calc(50% - 386px);
  }
}

@media (min-width: $desktop-width) {
  .map__img {
    left: calc(50% - 262px);
  }
}
