.order-form {
  margin-top: 24px;
  margin-bottom: 55px;
}

.order-form__fieldset {
  width: $mobile-width;
  max-width: 100%;
  margin: 0;
  padding: 0 $mobile-padding;

  &--type {
    padding-bottom: 30px;
  }

  &--colors {
    padding-bottom: 31px;
  }

  &--fio {
    padding-bottom: 12px;
  }

  &--tel {
    padding-bottom: 13px;
    z-index: 0;
  }

  &--email {
    padding-bottom: 13px;
    z-index: 0;
  }
}

.order-form__legend {
  display: flex;
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $fade-turquoise;
  text-transform: uppercase;

  &::after {
    content: "";

    display: block;
    flex-grow: 1;
    align-self: center;
    height: 1px;
    margin-left: 24px;

    background-color: $dull-turquoise;
  }

  &--type {
    margin-bottom: 24px;
  }

  &--colors {
    margin-bottom: 25px;
  }

  &--fio {
    margin-bottom: 26px;
  }

  &--extra {
    margin-bottom: 5px;
  }
}

.order-form__inner-wrap {
  &--submit {
    width: $mobile-width;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 $mobile-padding;
  }
}

.order-form__fieldset--email .order-form__inner-wrap,
.order-form__fieldset--tel .order-form__inner-wrap {
  position: relative;
}

.order-form__piece {
  margin: 0;
}

.order-form__fieldset--colors .order-form__piece:not(:last-of-type) {
  margin-bottom: 21px;
}

.order-form__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  &--fio {
    margin-bottom: 17px;
  }
}

.order-form__label--radio {
  padding: 11px 20px 13px 62px;

  @include radio(40px, $charcoal, $fade-turquoise);

  &:focus::before,
  &:hover::before {
    border-color: $dull-turquoise;
  }

  &:active::after,
  &:active::before {
    border-color: rgba($charcoal, $tulle);
    opacity: $tulle;
  }
}

.order-form__label--checkbox {
  padding: 11px 20px 11px 62px;

  @include checkbox(40px, $charcoal);

  &:focus::before,
  &:hover::before {
    border-color: $dull-turquoise;
  }

  &:active::before {
    border-color: rgba($charcoal, $tulle);
  }
}

.order-form__piece > input:not(:checked) + .order-form__label--checkbox::before,
.order-form__piece > input:not(:checked) + .order-form__label--radio::before {
  background: none;
}

.order-form__piece > input:focus + .order-form__label--checkbox::before,
.order-form__piece > input:focus + .order-form__label--radio::before {
  border-color: $dull-turquoise;
}

.order-form__input-text {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 19px;
  padding-bottom: 16px;

  font: inherit;
  font-size: 17px;
  line-height: 18px;
  color: $charcoal;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;

  &::placeholder {
    color: rgba($charcoal, $tulle);
  }

  &:focus,
  &:hover {
    border-color: $dull-turquoise;
  }

  &--tel {
    margin-top: 20px;
    padding-bottom: 10px;

    font-size: 19px;
    z-index: 2;
  }

  &--email {
    margin-top: 20px;
    padding-bottom: 18px;
    z-index: 2;
  }
}

.order-form__extra {
  width: 100%;
  height: 140px;
  margin: 20px 0 12px;
  padding: 15px;

  font: inherit;
  font-size: 17px;
  line-height: 18px;
  color: $charcoal;

  border: 2px solid $charcoal;
  outline: none;

  resize: none;

  &::placeholder {
    color: rgba($charcoal, $tulle);
  }

  &:focus,
  &:hover {
    border-color: $dull-turquoise;
  }
}

.order-form__icon {
  position: absolute;

  display: block;
  width: 24px;
  height: 24px;

  opacity: 0.2;
  fill: #000000;

  &--tel {
    top: 18px;
    right: 8px;
    z-index: -1;
  }

  &--email {
    top: 18px;
    right: 3px;

    width: 32px;
    height: 32px;
    z-index: -1;
  }
}

.order-form__input-text:active + .order-form__icon,
.order-form__input-text:focus + .order-form__icon,
.order-form__input-text:hover + .order-form__icon {
  opacity: 1;
  fill: $dull-turquoise;
}

.order-form__notation {
  margin: 0 0 31px 0;

  font-size: 14px;
  line-height: 16px;
}

.order-form__submit {
  font-size: 17px;
}

@media (min-width: $tablet-width) {
  .order-form {
    margin-top: 57px;
    margin-bottom: 50px;
  }

  .order-form__fieldset {
    display: flex;
    align-items: baseline;
    width: $tablet-width;
    padding: 0 $tablet-padding;

    &--type {
      padding-bottom: 50px;
    }

    &--colors {
      padding-top: 48px;
      padding-bottom: 28px;
    }

    &--fio {
      padding-top: 49px;
      padding-bottom: 27px;
    }

    &--tel {
      padding-top: 41px;
      padding-bottom: 15px;
    }

    &--email {
      padding-top: 0;
      padding-bottom: 27px;
    }

    &--extra {
      padding-top: 30px;
      padding-bottom: 53px;
    }
  }

  .order-form__legend {
    display: block;
    flex-shrink: 0;
    width: 166px;

    &::after {
      display: none;
    }
  }

  .order-form__inner-wrap {
    flex-grow: 1;

    &--submit {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: $tablet-width;
      padding: 0 $tablet-padding;
    }
  }

  .order-form__fieldset--colors .order-form__inner-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .order-form__fieldset--type .order-form__piece:not(:last-of-type) {
    margin-bottom: 25px;
  }

  .order-form__fieldset--colors .order-form__piece {
    width: 240px;
    margin-bottom: 21px;
  }

  .order-form__fieldset--fio .order-form__piece {
    display: flex;
    align-items: baseline;
  }

  .order-form__label {
    font-size: 19px;

    &--fio {
      padding-right: 25px;
    }
  }

  .order-form__label--radio {
    padding: 17px 20px 17px 81px;

    @include radio(52px, $charcoal, $fade-turquoise);
  }

  .order-form__label--checkbox {
    padding: 18px 20px 19px 81px;

    @include checkbox(54px, $charcoal);
  }

  .order-form__input-text {
    margin-bottom: 23px;
    padding-bottom: 12px;

    font-size: 19px;
    // placeholder padding не работает в edge
    text-indent: 16px;

    &--fio {
      flex-grow: 1;
      margin-left: 24px;
    }

    &--tel {
      margin-bottom: 0;
      padding-bottom: 12px;

      text-indent: 16px;
    }
  }

  .order-form__extra {
    height: 142px;
    margin: 20px 0 0;

    font-size: 19px;
  }

  .order-form__icon {
    &--tel {
      top: 20px;
      right: 28px;
    }

    &--email {
      top: 20px;
      right: 23px;
    }
  }

  .order-form__notation {
    order: 2;
    margin-bottom: 0;
    margin-left: 30px;

    font-size: 17px;
    line-height: 30px;
  }

  .order-form__submit {
    order: 1;
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    margin-top: 54px;
  }

  .order-form__fieldset {
    width: $desktop-width;

    &--type {
      padding-bottom: 49px;
    }

    &--extra {
      padding-bottom: 49px;
    }
  }

  .order-form__legend {
    width: 175px;
    padding-left: 60px;
  }

  .order-form__inner-wrap {
    padding-right: $desktop-padding;

    &--submit {
      width: $desktop-width;
      padding: 0 225px;
    }
  }

  .order-form__fieldset--colors .order-form__inner-wrap {
    justify-content: flex-start;
    padding-right: 50px;
  }

  .order-form__fieldset--colors .order-form__piece {
    width: 262px;
  }

  .order-form__extra {
    margin-right: $desktop-padding;
  }

  .order-form__icon {
    &--tel {
      top: 20px;
      right: 184px;
    }

    &--email {
      top: 20px;
      right: 179px;
    }
  }
}
