.order__title {
  padding: 71px 0 76px;
}

.order__line {
  padding: 22px $mobile-padding 0;

  font-size: 13px;
}

.order__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: $mobile-width-only) {
  .order__title {
    font-size: 27px;
  }
}

@media (min-width: $tablet-width) {
  .order__title {
    padding: 36px 0 82px;
  }

  .order__line {
    padding: 60px $tablet-padding 0;

    font-size: 17px;
    line-height: 30px;
  }

  .order__section {
    // padding: 50px 0;
  }

  .order__section:nth-of-type(even) {
    background-color: $blanc;
  }
}

@media (min-width: $desktop-width) {
  .order__title {
    padding-bottom: 102px;
  }

  .order__line {
    padding: 106px 225px 0 225px;
  }
}
