.page-footer {
  margin: 0 auto;

  background-color: $blanc;
}

.page-footer__wrapper {
  // width: $mobile-width;
}

.page-footer__socials {
  padding: 24px 0 20px;
}

.page-footer__copyright {
  padding: 22px 0 20px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    position: relative;

    padding: 51px 0 38px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    // width: $tablet-width;
    padding: 0 $tablet-padding;
  }

  .page-footer__socials {
    position: absolute;
    top: 32px;
  }

  .page-footer__copyright {
    margin-left: auto;
    padding: 10px 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding: 0 50px;
  }

  .page-footer__socials {
    position: absolute;
  }

  .page-footer__copyright {
    margin-left: auto;
    padding: 10px 0;
  }
}
