@media (min-width: $tablet-width) {
  .page-header {
    background-image: linear-gradient(#ffffff 88px, $light-pearl 88px, $light-pearl 89px, $blanc 89px);
  }

  .page-header--main {
    background-image: linear-gradient(#ffffff 88px, $light-pearl 88px, $light-pearl 89px, $light-blanc 89px);
  }

  .page-header-block {
    padding: 0 $tablet-padding;
  }
}
