.page-main {
  margin-bottom: 40px;
}

.page-main__title {
  margin: auto;
  padding: 76px 0 78px;

  font-size: 27px;
  text-align: center;
  color: $big-text-color;
  background-color: $blanc;
}

.page-main__section-title {
  margin: auto;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  font-family: $default-font;
  color: $big-text-color;
}

.page-main__curly-divider {
  display: block;
  height: 6px;

  background: url("../img/bg-zigzag-line.svg") auto 100%;
}
