.page-footer {
  margin: 0 auto;
  background-color: #f1f1f1;
  padding-top: 23px;
  padding-bottom: 23px;
}

.page-footer__socials {
  padding: 25px 0;
}

.page-footer__copyright {
  padding: 20px 0;
}
