.page-header-block {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-image: linear-gradient(#ffffff 89px, $light-pearl 89px, $light-pearl 90px, $blanc 90px);
  }

  .page-header--main {
    background-image: linear-gradient(#ffffff 89px, $light-pearl 89px, $light-pearl 90px, $light-blanc 90px);
  }

  .page-header-block {
    padding: 0 $tablet-padding;
    width: $tablet-width;
    max-width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .page-header-block {
    width: $desktop-width;
  }
}
