.product {
  position: relative;

  border: 1px solid $light-pearl;
}

.product__img {
  display: block;
  margin-bottom: 28px;


  background-color: $dark-pearl;
}

.product__info {
  padding: 0 28px;
}

.product:hover .product__info {
  box-shadow: 0 6px 10px rgba(0, 0, 0, $gauze);
}

.product:active .product__info {
  box-shadow: 0 3px 5px rgba(0, 0, 0, $gauze);
}

.product__details {
  margin: 0;
  padding: 6px 0 17px;
}

.product__property {
  position: relative;

  display: inline-block;

  font-size: 0;
  line-height: 24px;

  &--divider-comma {
    &::after {
      content: ", ";

      font-size: 13px;
    }
  }
}

.product__property-name,
.product__property-value {
  display: inline-block;
  margin: 0;
  padding: 0;

  font-size: 13px;
}

.product:hover .product__name {
  opacity: $batiste;
}

.product:active .product__name {
  opacity: $tulle;
}

.product__property-value {
  padding-left: 0.25em;
}

.product__price {
  position: relative;

  margin: 0;
  padding: 21px 0 28px;

  font-weight: bold;
  // font-size: 15px;
  // line-height: 24px;
  color: $big-text-color;

  border-top: 1px solid $pearl;
}

.product__add {
  content: "";
  position: absolute;
  right: 28px;
  bottom: 30px;
  // display: block;

  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;

  // background: url("../img/icon-cart.svg") center no-repeat;
  border: none;

  &:active,
  &:focus {
    outline: none;
  }
}

.product__add-icon {
  opacity: 0.2;
  fill: #000000;
}

.product:hover .product__add-icon {
  fill: $fade-turquoise;
  opacity: 1;
}

.product:active .product__add-icon {
  opacity: $tulle;
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;
    // flex-direction: column;
    // flex-wrap: wrap;
    align-content: flex-start;
    width: 668px;
    // height: 334px;

    border: none;
  }

  .product__img {
    flex-shrink: 0;
    width: $tablet-column;
    height: $tablet-column;
    // margin: 0 28px 0 0;
    margin: 0;
  }

  .product__info {
    display: flex;
    flex-direction: column;
    width: $tablet-column;

    border: 1px solid $light-pearl;
  }

  .product:hover > .product__info {
    box-shadow: 6px 0 10px rgba(0, 0, 0, $gauze);
  }

  .product:active > .product__info {
    box-shadow: 3px 0 5px rgba(0, 0, 0, $gauze);
  }

  .product__name {
    // width: 276px;
    margin: 25px 0 5px;
  }

  .product__details {
    // margin: 0;
    padding: 0;
  }

  .product__property {
    line-height: 30px;
  }

  .product__property-name,
  .product__property-value {
    font-size: 15px;
  }

  .product__price {
    margin: auto 0 0;
    padding: 24px 0;

    font-size: 17px;
  }

  .product__add {
    right: 32px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    // flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    // align-content: stretch;
    width: 316px;
    margin-left: 50px;
    // height: 660px;

    // flex-grow: 1;
    // flex-basis: 0;
  }

  .product__img {
    width: 316px;
    height: 462px;
    margin: 0;
  }

  .product__info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 316px;
    // border: 1px solid $light-pearl;
  }

  .product:hover > .product__info {
    box-shadow: 0 6px 10px rgba(0, 0, 0, $gauze);
  }

  .product:active > .product__info {
    box-shadow: 0 3px 5px rgba(0, 0, 0, $gauze);
  }

  .product__name {
    // width: 260px;
    margin: 25px 0 5px;
  }

  .product__details {
    margin-bottom: 8px;
  }

  .product__price {
    // margin-left: 28px;
  }
}
