.reviews {
  padding: 20px $mobile-padding 50px;
}

.reviews__title {
  margin-bottom: 25px;
}

.reviews__wrapper {
  @include no-list();
  margin-bottom: 35px;
  margin-top: 15px;
}

.reviews__content {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 25px;

  line-height: 30px;
}

.reviews__author {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color: $big-text-color;
}

.reviews__username {
  display: inline-block;
  margin-top: 5px;

  font-weight: normal;
  vertical-align: top;
  color: $text-color;
}

.reviews__control {
  display: table;
  width: 100%;
  margin-bottom: 40px;

  border-collapse: collapse;
}

.reviews__control-wrap {
  display: table-cell;
  width: 50%;

  border: 1px solid $light-pearl;
}

.reviews__control-btn {
  display: block;
  width: 100%;
  height: 50px;

  background: transparent center no-repeat;
  border: none;

  &:hover,
  &:focus {
    outline: none;
    opacity: $batiste;
  }

  &:active {
    opacity: $tulle;
  }

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }
}
