.socials__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.socials__item {
  margin-right: 30px;
}

.socials__item:last-of-type {
  margin-right: 0;
}

.socials__link {
  display: block;
  width: 28px;
  height: 28px;
  //
  // background-repeat: no-repeat;
  // background-position: center;

  // &--in {
  //   background-image: url("../img/icon-insta.svg");
  // }
  //
  // &--fb {
  //   background-image: url("../img/icon-fb.svg");
  // }
  //
  // &--tw {
  //   background-image: url("../img/icon-twitter.svg");
  // }

  &:active {
    opacity: $tulle;
  }
}

.socials__link:hover .socials__icon > path {
  fill: $teal;
}

@media (max-width: $mobile-only-width) {
  .socials {
    border-bottom: 1px solid $dark-pearl;
  }
}
