.trending {
  padding: 30px $mobile-padding;
}

.trending__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $fade-turquoise;
  text-transform: uppercase;

  &--hit {
    text-align: left;
  }
}

.trending__line {
  margin: 0;

  &--center {
    text-align: center;
  }
}
