.trending {
  padding: 27px $mobile-padding;
}

.trending__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $fade-turquoise;
  text-transform: uppercase;
}

.trending__line {
  margin: 0;

  &--center {
    text-align: center;
  }

  &--title {
    margin-top: 5px;
    margin-bottom: 23px;
    text-align: left;
  }
}

.trending__img {
  width: calc(#{$mobile-width} - 2 * #{$mobile-padding});
  margin-bottom: 15px;
}
