.video-block {
  position: relative;
  margin: 0 $mobile-padding 60px;
  padding: 0 0 30px;
  z-index: 1;

  border: 1px solid $light-pearl;
}

.video-block:hover::after {
  position: absolute;
  height: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: -1;
  box-shadow: 0 6px 10px rgba(0, 0, 0, $gauze);
}

.video-block:active::after {
  box-shadow: 0 3px 5px rgba(0, 0, 0, $gauze);
}

.video-block__title {
  padding: 23px 0 23px 89px;
  margin: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  font-family: $default-font;
  color: $big-text-color;
}

.video-block__video {
  position: relative;
  margin: 0 0 23px;
}

.video-block__frame {
  width: 258px;
  height: 148px;

  background-color: rgba(grey, $tulle);
}

.video-block__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.video-block__control {
  position: absolute;
  padding: 0;
  top: 49%;
  left: 50%;
  width: 100px;
  height: 77px;
  background: url("../img/icon-play.svg") center no-repeat;
  border: none;
  outline: none;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    opacity: $tulle;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.video-block__line {
  margin: 0 34px 25px;

  font-size: 13px;
}

.video-block__order-button {
  width: auto;
  margin: 0 33px;
}

.video-block__icon {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 33px;
  top: 29px;
  fill: $fade-turquoise;
}

@media (min-width: $tablet-width) {
  .video-block {
    display: flex;
    flex-direction: column;
    margin: 0 $tablet-padding 63px;
    padding: 0 40px 45px;
  }

  .video-block:hover::after {
    height: calc(100% - 454px);
  }

  .video-block__video {
    order: 1;
    // width: auto;
    margin: 0 -40px;
  }

  .video-block__frame {
    width: 100%;
    height: 454px;
  }

  .video-block__title {
    order: 2;
    font-size: 20px;

    padding: 33px 0 32px 65px;
  }

  .video-block__line {
    order: 3;
    margin: 0 0 35px;

    font-size: 15px;
    line-height: 30px;
  }

  .video-block__order-button {
    order: 4;
    margin: 0;
  }

  .video-block__icon {
    left: 41px;
    top: 488px;
  }
}

@media (min-width: $desktop-width) {
  .video-block {
    position: relative;

    display: block;
    min-height: 455px;
    padding: 0 55px 0 762px;
    margin-bottom: 105px;
  }

  .video-block:hover::after {
    width: calc(100% - 763px);
    height: 100%;
    left: 763px;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    box-shadow: 6px 0 10px rgba(0, 0, 0, $gauze);
  }

  .video-block:active::after {
    box-shadow: 3px 0 5px rgba(0, 0, 0, $gauze);
  }

  .video-block__video {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }

  .video-block__frame {
    width: 682px;
    height: 455px;
  }

  .video-block__title {
    position: relative;
    margin-bottom: 32px;
    padding: 95px 0 0;
  }

  .video-block__line {
    margin: 0 0 46px;

    line-height: 30px;
  }

  .video-block__order-button {
    margin: 0;
  }

  .video-block__icon {
    left: calc(50% + 238px);
    top: 40px;
  }
}
