@mixin checkbox($size, $border-color) {
  position: relative;

  display: block;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: $size;
    height: $size;

    background: transparent url("../img/icon-tick.svg") center no-repeat;
    background-size: calc(#{$size} * 0.6) calc(#{$size} * 0.4);
    border: 2px solid $border-color;
    transform: translateY(-50%);
  }
}
