@mixin radio($size, $border-color, $color: $border-color) {
  position: relative;

  display: block;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: $size;
    height: $size;

    background-color: transparent;
    border: 2px solid $border-color;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &::after {
    position: absolute;
    top: 50%;
    left: calc(#{$size} * 0.3);

    width: calc(#{$size} * 0.4);
    height: calc(#{$size} * 0.4);

    background-color: $color;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}
