.hit__details {
  font-size: 15px;
  line-height: 20px;
}

.hit__property {
  padding: 10px 0;
}

.hit__property-name,
.hit__property-value {
  padding-right: 10px;

  text-align: left;
}

.hit__price-line {
  font-weight: bold;
  font-size: 17px;
}
