.page-footer {
  margin: 0 auto;
  background-color: #f1f1f1;
  padding-top: 23px;
  padding-bottom: 23px;
}

.page-footer__socials {
  padding-top: 25px;
  padding-bottom: 25px;
}

.page-footer__copyright {
  padding-top: 20px;
  padding-bottom: 20px;
}
