.page-header {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.page-header__logo {
  text-align: center;
  vertical-align: top;
}

.page-header__logo-image {
  width: 86px;
  height: 35px;
}
