.page-footer {
  background-color: #f1f1f1;
  padding-top: 23px;
  padding-bottom: 23px;
}

.page-footer__socials {
  margin: 0;
  padding-right: $mobile-padding;
  padding-left: $mobile-padding;
}

.page-footer__copyright {
  margin: 0;
  padding-right: $mobile-padding;
  padding-left: $mobile-padding;
}
