.reviews {
  padding-top: 30px;
  padding-right: $mobile-padding;
  padding-bottom: 30px;
  padding-left: $mobile-padding;
}

.reviews__title {
  margin-bottom: 30px;
}

.reviews__wrapper {
  @include no-list();
  margin-bottom: 30px;
}

.reviews__content {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 30px;

  line-height: 30px;
}

.reviews__author {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color: $big-text-color;
}

.reviews__username {
  font-weight: normal;
  color: $text-color;
}

.reviews__control {
  display: table;
  width: 100%;
  margin-bottom: 40px;

  border-collapse: collapse;
}

.reviews__control div {
  display: table-cell;
  width: 50%;

  border: 1px solid $light-pearl;
}

.reviews__control-btn {
  display: block;
  width: 100%;
  height: 50px;
  // display:table-cell;
  // border: 1px solid $light-pearl;
  // width: 50%;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  &:hover,
  &:focus {
    outline: none;
    opacity: $batiste;
  }

  &:active {
    opacity: $tulle;
  }

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }
}
